.popup__container {
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    min-height: 322px;
    width: 282px;
    margin: 0 auto;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    align-items: top;
}

@media (min-width: 918px) {
    .popup__container {
        min-height: 330px;
        width: 430px;
        padding-left: 36px;
        padding-right: 36px;
    }
}