.profile {
    margin: 0;
    padding: 42px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 918px) {
    .profile {
        padding: 40px 0 0;
        height: 120px;
        flex-wrap: wrap;
        align-content: space-between;
    }
}